body{
    background-color: #000000;
}
.pantalla{
    display: flex;
    flex-direction: column;
   
    margin-top:300px;
    }
.boton{
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2) ;
        text-align:center ;
        text-decoration: none ;
    font-family: 'helvetica Neue', helvetica,sans-serif ;
    display:inline-block ;
    color: #fff; 
    white-space: nowrap ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    border-radius: 10px;
    margin: auto ;
    -webkit-transition: all 0.2s ease-in-out ;
    -ms-transition: all 0.2s ease-in-out ;
    -moz-transition: all 0.2s ease-in-out ;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out ;
    padding: 15px;
    width: 200px;
}



.amarillo{
    
    background: #ffee06 ;
    box-shadow: 5px 5px 0px 0px #ff0202;
    }
    .amarillo:hover{
        background: #ecd506 ;
        box-shadow: 5px 5px 5px 5px #e71506;
        
    }
    
   